# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
*.csv
*.zip
*.tar
*.tar.gz

# Python tooling
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
