# Dataset
data/

# MLflow local database
mlflow.db

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db